// Normally mainpage styles

// index.html
.main
	font-size: 0
	h1
		display: inline-block
		margin: 30px percentage(30/480) 15px
		font-weight: lighter
		font-size: 36px
		color: #000
	&__top
		> .main__wrap
			background: #001d30
			h1
				color: #FFF
	&__bottom
		background: #ececec
		border-bottom: 1px solid #e1e1e1
		a
			display: inline-block
			margin: 30px percentage(30/480)
			font-size: 13px
			color: #1da2b0
			&:hover
				text-decoration: underline
		> .main__wrapper
			width: percentage(958/1440)
			background: url(../img/main-projects-bg.jpg)
			+cover
			border-left: 1px dashed #d6d6d6
	&__wrapper
		display: inline-block
		vertical-align: top
		width: percentage(960/1440)
		min-height: 530px
		height: 100%
		.company
			position: relative
			min-height: 530px
			height: 100%
			background: url(../img/main-top-bg.jpg)
			+cover
			&__slider
				position: absolute
				right: 0
				bottom: 0
				left: 0
				height: 160px
				padding: 0 percentage(75/960)
				background-color: rgba(0, 0, 0, 0.6)
				text-align: center
				.slide
					padding-top: 25px
					span
						display: inline-block
						vertical-align: middle
						padding-bottom: 10px
					p
						font-weight: 600
						font-size: 15px
						color: #FFF
					&.slide_1
						span
							+s(company_1)
					&.slide_2
						span
							+s(company_2)
					&.slide_3
						span
							+s(company_3)
					&.slide_4
						span
							+s(company_4)
					&.slide_5
						span
							+s(company_5)
				.slick-prev:before, .slick-next:before
					content: ""
				.slick-prev
					left: 30px
					+s(prev_b)
				.slick-next
					right: 20px
					+s(next_b)
		.projects
			height: 490px
			margin: 0 percentage(45/959)
	&__wrap
		position: relative
		display: inline-block
		vertical-align: top
		width: percentage(480/1440)
		min-height: 530px
		height: 100%
		p
			padding: 0 percentage(30/480)
			font-size: 13px
			color: #FFF
		.btns
			position: absolute
			right: 0
			bottom: 0
			left: 0
			.btn
				width: 100%
				height: 80px
				+vertical
				text-align: left
				&_video
					background: #1db8c1
					a
						span
							top: 11px
							left: -56px
							+s(btn_1)
				&_publications
					background: #249190
					a
						span
							top: 5px
							left: -53px
							+s(btn_2)
				&_presentations
					background: #0a6a86
					a
						span
							top: 5px
							left: -59px
							+s(btn_3)
				a
					position: relative
					display: inline-block
					vertical-align: middle
					margin: 0 0 0 percentage(115/480)
					font-size: 30px
					font-weight: lighter
					color: #FFF
					+box
					span
						position: absolute
					&:hover
						border-bottom: 1px dashed #FFF
		.clients
			width: 100%
			ul
				display: block
				padding: 0 percentage(20/1440)
				margin-left: percentage(-20/1440)
				text-align: center
				li
					display: inline-block
					vertical-align: top
					width: percentage(137/480)
					margin-left: percentage(20/480)
					font-size: 0
					p
						padding: 0
						font-size: 13px
						color: #414141
			&__img
				height: 95px
				padding: 10px 0
				img
					display: inline-block
					vertical-align: bottom


// contacts.html
.offices
	font-size: 0
	margin-left: percentage(-50/1440)
.office
	display: inline-block
	vertical-align: top
	width: percentage(413/1390)
	margin: 0 0 percentage(50/1440) percentage(50/1440)
	font-size: 0
	cursor: pointer
	&__wrap
		display: inline-block
		vertical-align: top
		width: 100%
		&:hover
			-webkit-box-shadow: 0px 0px 20px -5px #191919 
			box-shadow: 0px 0px 20px -5px #191919 
	&__title
		position: relative
		background: #065D77
		h2
			padding: 17px 22px
			font-size: 26px
			font-weight: lighter
			color: #FFF
	&__in
		background: #f6f6f6 url("../img/corner.png") bottom right no-repeat
		min-height: 170px
		padding: 30px
		+box
		table
			tr
				td
					font-size: 13px
					&:first-child
						text-align: right
						color: #6E6E6E 
						padding-right: 20px
					&:last-child
						padding-bottom: 5px
						color: #191919 
						

// project.html
.content
	font-size: 0
	&__top
		padding: 50px 0 7px
	&__inner
		position: relative
	&__bottom
		height: 80px
		padding: 0 50px
		margin-bottom: 165px
		background: #F0F0F0 
	&__wrap
		display: inline-block
		vertical-align: top
		width: 50%
		color: #191919
		font-size: 0
		a
			display: inline-block
			vertical-align: top
			width: 80px
			height: 80px
			cursor: default
			+box
			+vertical
			span
				display: inline-block
				vertical-align: middle
			&.prev
				span
					+s(prev_s)
			&.more
				width: 150px
				cursor: pointer
				span
					font-size: 16px
					font-weight: 800
					color: #1da2b0
				&:hover
					background: #FFF
			&.next
				span
					+s(next_s)
		.project
			width: 510px
			h1
				margin-top: -10px
				padding: 0 0 29px
				font-weight: lighter
				font-size: 36px
				line-height: 1.2
				color: #000
			span
				display: block
				font-weight: 800
				font-size: 16px
				color: #1DA2B0 
			p
				display: block
				padding-bottom: 10px
				font-size: 13px
			h3
				margin: 19px 0 13px
				font-weight: lighter
				font-size: 26px
			table
				td
					vertical-align: top
					&:first-child
						font-size: 14px
					&:last-child
						padding-right: 33px
						color: #1DA2B0
						font-size: 16px
						font-weight: 800
	&__slider
		.slider-for
			position: relative
			.slick-prev, .slick-next
				position: absolute
				top: 50%
				font-size: 0
				z-index: 1000
				&:before
					content: ""
			.slick-prev
				left: 30px
				+s(prev_b)
			.slick-next
				right: 30px
				+s(next_b)
		.slider-nav
			position: static
			img
				margin-left: 8px
				&:first-child
					margin-left: 0
				&.slick-active:focus
					opacity: 0.5
			.slick-prev, .slick-next
				position: absolute
				top: 14px
				width: 80px
				height: 80px
				font-size: 0
				z-index: 1000
				+vertical
				&:before
					content: ""
					display: inline-block
					vertical-align: middle
				&:hover
					background: #FFF 
			.slick-prev
				left: 0
				&:before
					+s(prev_s)
			.slick-next
				left: 230px
				&:before
					+s(next_s)


// projects.html
.projects
	position: relative
	height: 680px
	margin: -82px 0 25px 23px
	background: url("../img/map-projects.png") no-repeat
	background-size: contain
	background-position: 50% 50%
	&__marker
		position: absolute
		display: block
		cursor: pointer
		+s(marker-projects)
		&.marker1
			bottom: 243px
			left: 101px
		&.marker2
			bottom: 299px
			left: 144px
		&.marker3
			bottom: 242px
			left: 171px
		&.marker4
			bottom: 330px
			left: 177px
		&.marker5
			bottom: 294px
			left: 237px
		&.marker6
			bottom: 246px
			left: 293px
		&.marker7
			bottom: 203px
			left: 404px
		&.marker8
			bottom: 182px
			left: 615px
		&.marker9
			bottom: 230px
			right: 372px
	&__info
		display: none
		position: absolute
		bottom: 56px
		left: -107px
		width: 225px
		height: auto
		padding: 10px
		background: #FFF
		z-index: 100
		-webkit-box-shadow: 0px 0px 20px -5px #191919 
		box-shadow: 0px 0px 20px -5px #191919 
		color: #262626
		+box
		&.is-active
			display: block
		&:after
			content: ""
			position: absolute
			bottom: -13px
			left: 50%
			+arr(17, 13, #FFF, b)
		h5
			font-size: 15px
			font-weight: 800
			padding: 2px 0 7px 6px
		p
			font-size: 13px
			line-height: 14px
			padding: 0 10px 4px 6px


// structure.html
.structure
	font-size: 0
	margin: 0 0 0 percentage(-50/1440)
.person
	display: inline-block
	vertical-align: top
	width: percentage(413/1390)
	margin: 0 0 50px percentage(50/1440)
	cursor: pointer
	font-size: 0
	+clr
	&:hover
		-webkit-box-shadow: 0px 0px 20px -5px #191919 
		box-shadow: 0px 0px 20px -5px #191919 
	&__wrap
		font-size: 0
		background: #f6f6f6 url("../img/corner.png") bottom right no-repeat
		+clr
	&_low
		.person__wrap
			background-image: url("../img/corner_low.png")
	&_lowest
		.person__wrap
			background-image: url("../img/corner_lowest.png")
	&__img
		float: left
		img 
			width: 100%
			height: auto
	&__info
		overflow: hidden
		min-height: 202px
		padding: 25px percentage(25/413)
		font-size: 13px
		color: #191919
		+box
		h3
			padding-bottom: 30px
			font-weight: 600
			span
				display: block
				font-size: 21px


// popup
.overlay
	position: fixed
	top: 0
	bottom: 0
	right: 0
	left: 0
	z-index: 999
	-ms-overflow-y: auto
	overflow-y: auto
	+box
	+vertical
	i
		position: fixed
		top: 0
		bottom: 0
		right: 0
		left: 0
		background: rgba(#FFF, 0.75)
	&:before
		content: ""
		display: inline-block
		width: 0

.popup
	position: relative
	display: none
	box-shadow: 0 0 20px -2px #000 
	&.is-visible
		display: inline-block
		vertical-align: middle
	> .office 
		min-width: 1340px
		margin: 0
		cursor: default
		> .office__wrap
			width: percentage(409/1340)
			margin-left: 0
			text-align: left
			border-right: 1px dashed #d6d6d6 
			&:hover
				-webkit-box-shadow: none 
				box-shadow: none
			> .office__in
				padding: 20px
				height: 585px
				img
					margin-bottom: 25px
	&_person
		background: #FFF
		width: 413px
		> .person
			width: 100%
			margin: 0
			cursor: default
			text-align: left
			&:hover
				-webkit-box-shadow: none 
				box-shadow: none
			&__wrap
				border-bottom: 1px dashed #d6d6d6 

.person-close
	position: absolute
	top: 0
	right: -70px
	width: 70px
	height: 70px
	background: #065D77 
	+box
	> .close
		position: static
		display: block
		padding: 35px
		span,
		span:before,
		span:after 
			right: 34px
.close
	position: absolute
	top: 0
	right: 0
	padding: 35px 44px
	span
		-webkit-transform: rotateZ(45deg)
		-moz-transform: rotateZ(45deg)
		-ms-transform: rotateZ(45deg)
		-o-transform: rotateZ(45deg)
		transform: rotateZ(45deg)
	span,
	span:before,
	span:after 
		position: absolute
		top: 16px
		right: 43px
		width: 1px
		height: 38px
		background: #fafafa
	span:before,
	span:after 
		content: ''
		display: inline-block
		position: absolute
		top: 19px
		left: -19px
		width: 19px
		height: 1px
	span:after
		left: 1px
	
.map-office
	width: percentage(930/1340)
	height: 655px
	display: inline-block
	vertical-align: top
	
.person
	&__inner
		height: 380px
		padding: 25px
		+box
		p
			font-size: 13px
			color: #191919
			padding-bottom: 5px
			&:last-child
				padding-bottom: 0
			
// scrollbar
div.mCSB_scrollTools
	width: 4px
	opacity: 1
	.mCSB_draggerRail
		width: 4px
		background: #EBEBEB 
		-webkit-border-radius: 0
		-moz-border-radius: 0
		border-radius: 0
	.mCSB_dragger .mCSB_dragger_bar
		width: 4px
		background: #065D77 
		-webkit-border-radius: 0
		-moz-border-radius: 0
		border-radius: 0
	.mCSB_dragger:hover .mCSB_dragger_bar
		background: #065D77
	&.mCSB_scrollTools_onDrag
		background: #065D77
	.mCSB_dragger_onDrag
		background: #065D77