// Normally mainpage styles

// header
.header
	&__in
		+wrap
		+clr
	.logo
		float: left
		margin: 20px 0 23px
		a
			display: block
			font-size: 0
	.tools
		float: right
		font-size: 0
		&__in
			display: inline-block
			vertical-align: top
			margin-top: 24px
			text-align: right
			font-weight: lighter
			padding-left: 17px
			a
				display: block
				&.phone
					font-size: 26px
				&.mail
					margin-top: -6px
					font-size: 13px 
			p
				display: block
				padding-top: 1px
				text-align: left
				font-size: 13px
				&:first-child
					padding-top: 11px
			&.bober
				margin: 25px 0 10px
				padding-left: 45px
	&__bottom
		background: #0A6A86
		overflow: hidden
		nav
			display: inline-block
			vertical-align: top
			font-size: 0
			&.menu
				ul
					margin-left: -30px
					font-size: 0
					li
						display: inline-block
						vertical-align: middle
						height: 40px
						border-right: 1px solid #33839a
						margin: 15px 0
						&:last-child
							border: none
						a
							display: block
							margin-top: -15px
							padding: 21px 30px
							font-weight: lighter
							font-size: 18px
							color: #FFF
							&:hover
								background: #065d77
							&.is-active
								background: #065d77
						.search
							position: relative
							display: block
							margin: 0 60px
							&:after
								content: ""
								position: absolute
								top: 6px
								right: 12px
								+s(search)
							input
								width: 240px
								height: 37px
								padding: 10px 40px 10px 10px
								border: 1px solid #33839a
								background: #065d77
								color: #FFF
								+box
	&__lang
		background: #1db8c1
		margin-right: -1000px
		padding: 26px 1000px 26px 37px
		a
			color: #FFF
			font-size: 13px
			&:hover
				border-bottom: 1px dashed #FFF

// footer
.footer
	background: url("../img/corner-f.png") bottom right no-repeat
	-webkit-background-size: auto 100%
	-o-background-size: auto 100%
	background-size: auto 100%
	overflow: visible
	padding-top: 10px
	&__in
		+wrap
	&__top
		font-size: 0
	&__logo
		display: inline-block
		vertical-align: top
	&__menu
		display: inline-block
		vertical-align: top
		margin-left: 25px
		li
			display: inline-block
			vertical-align: top
			margin-top: 7px
			border-right: 1px solid #ECECEC 
			&:last-child
				border: none
			a
				display: block
				padding: 5px 16px
				font-weight: lighter
				font-size: 16px
				color: #686868 
				&.phone
					display: inline-block
					vertical-align: top
					color: #000
					font-size: 15px
					padding: 10px 2px 10px 33px 
				&.mail
					display: inline-block
					vertical-align: top
					font-size: 15px 
					padding: 10px
				&:hover
					color: darken(#686868, 100%)
	&__bottom
		width: 1070px
		padding: 14px 0
		+clr
		.copyright
			float: left
			padding-right: 20px
		.made-by
			float: left
		.sitemap
			float: right
		p
			color: #AFAFAF
		a
			color: #218DA4 
		

.content
	&__in
		+wrap
		h1
			padding: 37px 0 35px
			font-size: 36px
			font-weight: lighter
			color: #000
			

// contacts.html
.contacts
	font-size: 0
	margin-left: -50px
	padding-bottom: 180px
	&__wrap
		display: inline-block
		vertical-align: top
		width: 413px
		margin-left: 50px
		&:hover
			-webkit-box-shadow: 0px 0px 20px -5px #191919 
			box-shadow: 0px 0px 20px -5px #191919 
	&__title
		background: #065D77
		h2
			padding: 17px 22px
			font-size: 26px
			font-weight: lighter
			color: #FFF
	&__in
		background: #f6f6f6 url("../img/corner-contacts.png") bottom right no-repeat
		min-height: 170px
		padding: 30px
		+box
		table
			tr
				td
					font-size: 13px
					&:first-child
						text-align: right
						color: #6E6E6E 
						padding-right: 20px
					&:last-child
						padding-bottom: 5px
						color: #191919 
						

// project.html



// projects.html
.projects
	position: relative
	height: 680px
	margin: -82px 0 25px 23px
	background: url("../img/map-projects.png") no-repeat
	&__marker
		position: absolute
		display: block
		cursor: pointer
		+s(marker-projects)
		&.marker1
			bottom: 243px
			left: 101px
		&.marker2
			bottom: 299px
			left: 144px
		&.marker3
			bottom: 242px
			left: 171px
		&.marker4
			bottom: 330px
			left: 177px
		&.marker5
			bottom: 294px
			left: 237px
		&.marker6
			bottom: 246px
			left: 293px
		&.marker7
			bottom: 203px
			left: 404px
		&.marker8
			bottom: 182px
			left: 615px
		&.marker9
			bottom: 230px
			right: 372px
	&__info
		display: none
		width: 225px
		height: auto
		padding: 10px
		background: #FFF
		z-index: 100
		+box
		&.is-active
			display: block
		&:after
			content: ""
			display: block
			+arr(15, 13, #FFF, b)